@charset "UTF-8";
* {
  font-family: "Nanum Gothic";
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
}
#wrap {
  background-color: #41414c;
}


/* 최상단 (header 부분) */
#header {
  /* width: 1200px; */
  height: 110px;
  position: relative;
  background-color: #41414c;
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
  font-family: "Nanum Gothic";
}

.headerbar {
  position: relative;
  width: 1200px;
  height: 100px;
  /* border: solid 3px firebrick; */
  margin-left: auto;
  margin-right: auto;
}
.headerbar_logo {
  width: 230px;
  height: 80px;
  /* border: solid 3px gray; */
  float: left;
  margin-top: 15px;
}

#headerbar_info {
  float: right;
  /* width: 450px; */
  height: 30px;
  /* margin-left: 786px; */
  padding-top: 20px;
  margin-right: 20px;
  /* border: solid 2px gray; */
}

#headerbar_info a{
	color: whitesmoke;
}
#headerbar_info a:visited{
	color: whitesmoke;
}
#headerbar_info div {
  float: left;
  margin-right: 20px;
}
#headerbar_info ul {
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
  margin-bottom: 0;
  /* margin-right: 35px; */
  float: right;
}
#headerbar_info li {
  list-style: none;
  display: inline;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 11pt;
  cursor: pointer;
}
.headerbar_info_login {
  background-color: rgb(10, 175, 10);
  font-weight: bold;
  border-radius: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-right: 25px;
}
.headerbar_info_join {
  background-color: #646277;
  font-weight: bold;
  border-radius: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
}

.headerbar_info_search {
  border: solid 2px gray;
  border-radius: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 35px;
  position: relative;
}
.headerbar_info_search:hover {
  cursor: pointer;
}
.headerbar_info_search i {
  position: absolute;
  top: 9px;
  left: 50px;
}

#navbar {
  float: right;
  width: 900px;
  height: 50px;
  /* border: solid 1px white; */
  font-size: 14pt;
  font-weight: bold;
}
#navbar > ul {
  float: right;
  display: flex;
  position: relative;
  justify-content: space-between;
  /* margin-right: 40px; */
  margin-top: 20px;
  text-align: center;
  padding: 0;
  z-index: 3;
}
/* #navbar > ul > li {
  border: solid 2px green;
} */
.header_level1_1 {
  list-style: none;
  width: 160px;
}
.header_level1_1 > ul {
  padding-left: 30px;
}
.header_level1_2 {
  list-style: none;
  width: 140px;
}
.header_level1_2 > ul {
  padding-left: 25px;
}
.header_level1 {
  list-style: none;
  width: 130px;
}
.header_level1 > ul {
  padding-left: 30px;
}

.header_level2 {
  /* padding-left: 20px; */
  padding-top: 40px;
  font-size: 12pt;
  font-weight: normal;
  /* border: solid 1px green; */
}
.header_level2 li {
  position: relative;
  text-align: left;
  display: block;
  padding-left: 0px;
  padding-bottom: 15px;
  z-index: 4;
  color: rgba(245, 245, 245, 0.726);
  /* font-weight: bold; */
}
.header_level2 a{
	color: rgba(245, 245, 245, 0.726);
}
.header_level1_3 {
  list-style: none;
  width: 150px;
}
.header_level1_3 > ul {
  padding-left: 30px;
}
#header_box {
  margin: 0;
  padding: 0;
  width: 3000px;
  height: 200px;
  position: absolute;
  /* right: 0; */
  top: 110px;
  background-color: #373741;
  border-top: solid 1px gray;
  z-index: 2;
}

.header_info {
  width: 1200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  /* border: solid 2px green; */
  background-color: #0d0e10;
}
.header_info_text {
  width: 330px;
  height: 120px;
  /* border: solid 2px whitesmoke; */
  float: left;
  margin-top: 70px;
  padding-left: 50px;
}

.header_info_image {
  position: relative;
  float: right;
  width: 800px;
  height: 200px;
  /* border: solid 3px whitesmoke; */
  /* margin-left: 330px; */
  z-index: 1;
}



/* ------------------- section 부분 --------------------- */
section {
	position: relative;
  width: 1200px;
  min-height: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: whitesmoke;
}
.for_manager{
	margin-left: 150px;
	margin-bottom: 30px;
}
.for_manager a{
	text-decoration: underline;
	font-size: 12pt;
	font-weight: bold;
	color: #CC0000;
}
#section_top{
	position: relative;
	width: 900px;
	height: 250px;
	margin: 0 auto;
}
#calendar_category{
	display: flex;
	width: 900px;
	height: 50px;
	margin-bottom: 15px;
}
#cal_month{
	text-align: center;
	font-weight: bold;
	padding-top: 15px;
	width: 450px;
	height: 35px;
	border-left: solid 1px gray;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
	background-color: whitesmoke;
	color: #CC0000;
	cursor: pointer;
}
#cal_year{
	text-align: center;
	font-weight: bold;
	padding-top: 15px;
	width: 450px;
	height: 35px;
	border-left: solid 1px gray;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
	background-color: #eeeeee;
	color: #3e3e3e;
	cursor: pointer;
}
#calendar_category div:last-child {
	border-right: solid 1px gray;
}
#calendar_choice{
	width: 900px;
	height: 150px;
	border: solid 1px gray;
}

#year_choice{
	width: 100px;
	height: 33px;
	position: absolute;
	top: 80px;
	left: 20px;
	background-color: whitesmoke;
	border: solid 1px gray;
}
#location_choice{
	width: 100px;
	height: 33px;
	position: absolute;
	top: 80px;
	left: 130px;
	background-color: whitesmoke;
	border: solid 1px gray;
	
}
#select_date{
	position: absolute;
	left: 375px;
	top: 80px;
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
	width: 150px;
	height: 30px;
	padding-top: 10px;
}
#calendar_choice_btn_month{
	position: absolute;
	right: 30px;
	top: 80px;
	padding: 8px 18px;
	font-size: 10pt;
	font-weight: bold;
	background-color: #CC0000;
	color: whitesmoke;
	border: none;
	cursor: pointer;
	box-shadow: 2px 2px 2px #b0b0b0;
}
#calendar_choice_btn_year{
	position: absolute;
	right: 30px;
	top: 80px;
	padding: 8px 18px;
	font-size: 10pt;
	font-weight: bold;
	background-color: #CC0000;
	color: whitesmoke;
	border: none;
	cursor: pointer;
	box-shadow: 2px 2px 2px #b0b0b0;
}
.month_choice{
	display: flex;
	justify-content: space-between;
	width: 840px;
	height: 40px;
	margin: 80px auto;
}
.month_choice_list{
	width: 70px;
	height: 40px;
	margin: 0 1px;
	border: none;
	color: #3e3e3e;
	background-color: #eeeeee;
	cursor: pointer;
	font-weight: bold;
}
#section_main{
	padding-bottom: 80px;
}
#section_main_null{
	margin: 30px auto;
	text-align: center;
	font-size: 13pt;
	font-weight: bold;
}
#section_main article{
	position: relative;
	width: 900px;
	height: 240px;
	background-color: #F1EEE5;
	margin: 30px auto;
}
.article_img{
	width: 172px;
	height: 240px;
	background-color: green;
	box-shadow: 3px 3px 3px #b0b0b0;
}
.article_title{
	position: absolute;
	left: 190px;
	top: 25px;
	color: black;
	font-size: 14pt;
	font-weight: bold;
}
.article_outline{
	position: absolute;
	left: 190px;
	top: 60px;
}
.article_outline div{
	display: flex;
	padding: 7px 0;
	font-size: 10pt;
}
.article_outline span:first-child{
	width: 30px;
	height: 15px;
	margin: 0;
	padding: 0 5px;
	font-weight: bold;
	border-right: solid 1px gray;
}
.article_outline span:last-child{
	margin: 0;
	padding-left: 15px;
	width: 500px;
}
.article_btn{
	position: absolute;
	bottom: 30px;
	right: 30px;
	padding: 10px 25px;
	background-color: #CC0000;
	color: whitesmoke;
	border: none;
	font-size: 10pt;
	font-weight: bold;
	box-shadow: 2px 2px 2px #b0b0b0;
}
.article_btn_end{
	position: absolute;
	bottom: 30px;
	right: 30px;
	padding: 10px 25px;
	background-color: #646569;
	color: whitesmoke;
	border: none;
	font-size: 10pt;
	font-weight: bold;
	box-shadow: 2px 2px 2px #b0b0b0;
}
.article_btn_prepare{
	position: absolute;
	bottom: 30px;
	right: 30px;
	padding: 10px 25px;
	background-color: #646569;
	color: whitesmoke;
	border: none;
	font-size: 10pt;
	font-weight: bold;
	box-shadow: 2px 2px 2px #b0b0b0;
}

#bot_section{
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1200px;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
	background-color: #dddddd;
}
#bot_section a{
	color: black;
}
#bot_section a:visited{
	color: black;
}

#bot_section > div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1200px;
	height: 40px;
}

.page_num{
	font-size: 8pt;
	padding: 6px 8px;
	margin: 0;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
	border-left: solid 1px gray;
}
.page_num_now{
	font-size: 8pt;
	background-color: #41414c;
	color: whitesmoke;
	padding: 6px 8px;
	margin: 0;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
	border-left: solid 1px gray;
}
.page_num_left{
	font-size: 8pt;
	padding: 6px 6px;
	margin: 0;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
	border-left: solid 1px gray;
}

.page_num_right{
	font-size: 8pt;
	padding: 6px 6px;
	margin: 0;
	border: solid 1px gray;
}






